*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Clases reutilizables*/
.white{
  color: #FFF;
}
.margin-btm-img-pelis{
  margin-bottom: 2vh;
}
ul.nav li.none{
  display: none;
}
body {
  background-image: url('https://c.pxhere.com/photos/3e/ff/wood_background_deck_wooden_texture_wall_floor_board-1184860.jpg!d'); /*CAPE HONEY*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*ESTILOS PARA VISTA HOME*/
.navbar-pbooks{
  border: none;
  margin-bottom: 0;
  background-color: #FFF;
  padding: 10px 0px;
}
.navbar-brand>img{
  width: 100px;
}
.logo {
  width: 65px;
}
ul.nav {
  padding-top: 0.1vh;
  font-weight: bold;
}
ul.nav li a{
  color: #FFF;
}
.padding-top-120{
  padding-top: 120px;
}
button.margin-find{
  margin-top: 3vh;
}
.fade-in{
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fade-out{
  animation: fadeOut 2s;
}
@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
header nav.navbar.navbar-default{
  background: linear-gradient( rgb(205,91,69)60%, rgb(205,91,69));
}
div.navbar-header{
  padding: 10px;
}
button.navbar-toggle{
  margin-right: 0;
}
.navbar-default .navbar-toggle {
  border: 2px solid #FFF;
}
a.search-style{
  text-decoration: none;
  color: #FFF;
  font-size: 25px;
}
span.glyphicon.glyphicon-search.pull-right{
  margin-top: 2vh;
}
div.form-group {
    margin-bottom: 0;
    outline: none;
}
.carousel-inner>.item>img.height-222{
  width: 100%;
  height: 322px;
}
img.height-210{
  width: 100%;
  height: 210px;
}
div.width100, select.width100{
  width: 100%;
  padding: 10px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFF;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none !important;
    background-color: rgba(205,91,69,0.8);
    outline: none;
}
img.logo-img{
  width: 50px;
}
/*Estilos para modales*/
form-bottom{
  display: table;
  overflow: auto;
  margin-left: 20%;
}
#modal-sesion div.input-group{
  padding: 20px 0;
}
a.font-style{
  color: #3b5998;
}
.form-bottom button{
  float: right;
  margin-bottom: 10px;
}
.form-bottom p{
  display: table-footer-group;
}
.form-bottom p>a{
  padding-left: 10px;
}
#modal-sesion .form{
  padding: 20px
}
div.modal-content{
  background-color: rgb(205,91,69);
}
#modal-sesion .form{
  padding: 20px
}
div.modal-content{
    background-color: rgb(205,91,69);
}
/*Estilo para modal registro*/
.mt-2 {
  margin-top: 1vh;
  margin-bottom: 0;
}
button.btn-create-account.btn-block {
  width: 74%;
  margin-left: 13%;
}
/*Estilos para vista filtros*/
img.img-pelis{
  width: 100%;
  height: 45vh;
}
/*Estilos para vista movies*/
.img-thumbnail, .thumbnail{
  width: 100%;
}
div.embed-responsive-16by9 {
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.font-style{
  font-weight: bold;
}
.padding-9{
  padding: 9px;
}
@media (min-width: 768px) {
  /*Estilos para vista home*/
  ul.nav li {
    display: inline-block;
  }
  img.logo-img{
    width: 40px;
  }
  .navbar-right{
    margin-right: 0;
  }
  .carousel-inner>.item>img.height-222 {
    width: 100%;
    height: 510px;
}
form.input-header{
  margin-top: 0.8vh;
}
/*Estilos para sección filtros*/
img.img-pelis {
    width: 100%;
    height: 30vh;
}
button.btn-create-account.btn-block {
  width: 78%;
  margin-left: 11%;
}
}
@media (min-width: 992px) {
  /*Estilos para vista home*/
  img.img-pelis {
    width: 100%;
    height: 40vh;
}
ul.nav {
  padding-top: 0.5vh;
}
}
@media (min-width: 1200px) {
  /*Estilos para vista home*/
  img.img-pelis {
    width: 100%;
    height: 55vh;
}
ul.nav li.none{
  display: none;
}
}
