*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-transition {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0;
}
.fade-in{
  animation: fadeIn 4s;
}
@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fade-out{
  animation: fadeOut 4s;
}
@keyframes fade-out {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
