<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PeliBooks - Home</title>
  <!--Añadiendo color a la barra de navegador que se verá desde versión movile-->
  <meta name="theme-color" content="#cd5b45" />
  <link rel="icon" type="image/png" href="assets/images/icon.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2">
  <!-- Mi css -->
  <link rel="stylesheet" type="text/css" href="../css/main-vistas.css">
</head>

<body>
  <!--Header-->
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar-header">
            <div class="col-xs-2 col-sm-2">
              <a class="pull-left" href="#">
                <img alt="Brand" src="../assets/images/temporal.png" class="img-responsive logo-img">
              </a>
            </div>
            <div class="col-xs-8 col-sm-6">
              <form class="input-header">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-xs-2">
              <a class="pull-right" href="#">
                <img alt="Brand" src="../assets/images/default.gif" class="img-responsive img-circle hidden">
              </a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="container-user">
                <h1 id="user">Hola </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bs-example-navbar-collapse-1">
              <ul class="nav">
                <li>
                  <a href="#" data-toggle="modal" data-target="#modal-sesion" class="white">Log In</a>
                </li>
                <li class="active">
                  <a href="#" class="white" id="myBtn">Sign Up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--Modal iniciar sesión-->
    <div id="modal-sesion" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <img class="image-modal-sesion col-xs-4 col-xs-offset-4" src="../assets/images/user.png" alt="User">
          </div>
          <div class="modal-body">
            <form class="form">
              <div class="form-group col-xs-12">
                <label class="sr-only">Email</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  </div>
                  <input type="text" class="form-control" id="email-login" placeholder="Email">
                </div>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  </div>
                  <input type="text" class="form-control" id="psw-login" placeholder="Password">
                </div>
              </div>
              <div class="form-bottom">
                <button id="login-button" type="submit" class="btn btn-primary col-xs-12" >Log In</button>
                <button type="submit" class="btn btn-primary col-xs-12">Log In with Google</button>
                <p class="white">¿Forgot password?
                  <a href="#" class="font-style">Click Here</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Modal regístrate sesión-->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <img class="image-modal-sesion col-xs-4 col-xs-offset-4" src="../assets/images/user.png" alt="User">
                <span class="glyphicon glyphicon-lock"></span>Sign up</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="usrname" class="mt-2">
                    <span class="glyphicon glyphicon-user mt-2"></span> Username</label>
                  <input type="username" class="form-control" id="usrname" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="usrname" class="mt-2">
                    <span class="glyphicon glyphicon-envelope mt-2"></span> Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="psw" class="mt-2">
                    <span class="glyphicon glyphicon-eye-open mt-2"></span> Password</label>
                  <input type="password" class="form-control" id="psw2" placeholder="Enter password">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">I agree to the terms</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="signup-button" disabled>
                  <span class="glyphicon glyphicon-off"></span> Create account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="filters">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
          <button type="button" class="btn btn-primary btn btn-block text-center">Home</button>
        </div>
        <div class="col-xs-6 col-sm-4">
          <select class="selectpicker btn btn-primary width100" name="">
            <option class="text-center">Genre</option>
            <option class="text-center">Science fiction</option>
            <option class="text-center">Romantic</option>
            <option class="text-center">Biography</option>
            <option class="text-center">Horror</option>
            <option class="text-center">Fantasy</option>
            <option class="text-center">Comedy</option>
            <option class="text-center">Action</option>
            <option class="text-center">Drama</option>
            <option class="text-center">Adventure</option>
            <option class="text-center">Suspense</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://cd.cinescape.com.pe/cinescape-603x336-163427.jpg" alt="..." class="height-222">
          <div class="carousel-caption">
            <h3>Find the best movies for non-muggles</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://s3.amazonaws.com/trendybynick.com-production/wp-content/uploads/2015/11/SINSAJO.jpg" alt="..." class="height-222">
          <div class="carousel-caption">
            <h3>Become the Mockingjay</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://media1.santabanta.com/full1/Hollywood%20Movies/The%20Mortal%20Instruments%20City%20of%20Bones/the-mortal-instruments-city-of-bones-1v.jpg"
            alt="..." class="height-222">
          <div class="carousel-caption">
            <h3>Discover your Shadowhunter side</h3>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <hr>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center font-style">Trailer of the month movie</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center font-style">Lovely Bones</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PTZYYtUJpak" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
          <div class="thumbnail">
            <img src="../assets/images/card1.gif" alt="..." class="height-350">
            <div class="caption">
              <h3 class="text-center">Join this community reader-cinephile</h3>
              <p class="text-center">When you log in, you can leave your comment and rate the movies we have for you!</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
          <div class="thumbnail">
            <img src="https://www.okchicas.com/wp-content/uploads/2015/06/33-razones-de-por-que-eres-mi-mejor-amiga-27.jpg" alt="..."
              class="height-350">
            <div class="caption">
              <h3 class="text-center">Find all your favorite movies here!</h3>
              <p class="text-center">Without taking you so long. Without those stormy pop-up windows.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
          <div class="thumbnail">
            <img src="https://i.pinimg.com/originals/65/78/2b/65782b5257420174a52c7f77b65265bd.jpg" alt="..." class="height-350">
            <div class="caption">
              <h3 class="text-center">Do not forget that reading is the best.</h3>
              <p class="text-center">If watching a movie is a wonderful experience, imagine reading a book!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="../js/home-login.js"></script>
  <script src="../js/vista-home.js"></script>
</body>

</html>