<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PeliBooks</title>
  <!--Añadiendo color a la barra de navegador que se verá desde versión movile-->
  <meta name="theme-color" content="#cd5b45" />
  <link rel="icon" type="image/png" href="../assets/images/icon.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <!-- Mi css -->
  <link rel="stylesheet" type="text/css" href="../css/main-vistas.css">
  <link rel="stylesheet" type="text/css" href="../css/transition.css">
</head>

<body id="view-filters">
  <!--Header-->
  <header>
    <nav class="navbar navbar-default navbar-pbooks navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="vista-home.html">
                <img src="../assets/images/pbooks.png" alt="Logo PeliBooks">
              </a>
              <div class="col-sm-6 col-md-7 col-lg-8 hidden-xs">
                <form class="input-header">
                  <div class="input-group">
                    <input id="input-search" type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <a href="vista-input-mobile.html" class="search-style hidden-sm hidden-md hidden-lg">
                <span class="glyphicon glyphicon-search pull-right"></span>
              </a>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="navbar-right hidden-xs">
                <ul class="nav">
                  <li class="active">
                    <a href="vista-home.html" class="white">Home</a>
                  </li>
                  <li>
                    <a href="vista-filtros.html" class="white">Filters</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse hidden-sm hidden-md hidden-lg" id="bs-example-navbar-collapse-1">
              <ul class="nav">
                <li class="active">
                  <a href="vista-home.html" class="white">Home</a>
                </li>
                <li>
                  <a href="vista-filtros.html" class="white">Filters</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
      </div>
    </nav>
  </header>
  <section class="padding-top-120">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center font-style">Filter by:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <select id="genders" class="selectpicker btn btn-primary width100" name="">
            <option class="text-center">Genre</option>
            <option class="text-center">Sci-Fi</option>
            <option class="text-center">Romantic</option>
            <option class="text-center">Biography</option>
            <option class="text-center">Horror</option>
            <option class="text-center">Fantasy</option>
            <option class="text-center">Comedy</option>
            <option class="text-center">Action</option>
            <option class="text-center">Drama</option>
            <option class="text-center">Adventure</option>
            <option class="text-center">Suspense</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="container-fluid">
      <div id="container-film">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-3 margin-btm-img-pelis">
            <a href="#">
              <img class="img-responsive img-pelis" src="http://1.bp.blogspot.com/-loEu1pOpOKc/VLaSZTAYEJI/AAAAAAAAILE/VECEMESu9Cc/s1600/una-imagen-11-portadas-libros-leidos-L-CCtY_E.jpeg"
                alt="">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 margin-btm-img-pelis">
            <a href="#">
              <img class="img-responsive img-pelis" src="https://vignette.wikia.nocookie.net/mazerunner/images/8/85/Insidethemazerunner_cover.jpg/revision/latest?cb=20140626232426"
                alt="">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 margin-btm-img-pelis">
            <a href="#">
              <img class="img-responsive img-pelis" src="https://images-na.ssl-images-amazon.com/images/I/91CEqEsMjBL._RI_SX200_.jpg" alt="">
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 margin-btm-img-pelis">
            <a href="#">
              <img class="img-responsive img-pelis" src="https://i.ytimg.com/vi/WOUsDY4XVLg/movieposter.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/accessingData.js"></script>
  <script type="text/javascript" src="../js/home-login.js"></script>
  <script type="text/javascript" src="../js/vista-home.js"></script>
  <script type="text/javascript" src="../js/vista-filtros.js"></script>
</body>

</html>
