.mrg-cont {
	margin: 12em 0;
}
.background-orange {
	background-color: orange;
	height: 18em;
	margin-right: 5px;
	color: #fff;
	margin-bottom: 5px;
	margin-bottom: 6px;
}
.name {
	font-size: 18px;
	color: #fff;
}
.boxes {
	margin-top: 0;
}